<a href="https://colab.research.google.com/github/hannsjaspherelalto/CPEN-21A-CPE1-2/blob/main/LoopStatements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#for loop Function

numbers=[1, 2, 3, 4, 5, 6, 7]

for x in numbers:
  print(x)

1
2
3
4
5
6
7

In [12]:
#break statement

numbers=[-2, -1, 0, 1, 2, 3, 4, 5, 6, 7]

for x in numbers:
  print(x)
  if x < (x*5):
    break

-2
-1
0
1

In [15]:
#range function

for x in range(5):
  print(x)

for y in range(3,6):
  print (y)

0
1
2
3
4
3
4
5

In [26]:
#nested for loop

color=["red", "blue", "green", "yellow"]
number=[1, 2, 3]

for x in color:
  for y in number:
    print(y,x)
    if y == 1:
      if x == "yellow":
        break

1 red
2 red
3 red
1 blue
2 blue
3 blue
1 green
2 green
3 green
1 yellow

In [31]:
#while loop

x=1

while x<15:
  print(x)
  x+=2
  if x>4:
    print("\n")
  if x>=11:
    break

1
3


5


7


9

In [36]:
#continue statement

x=2

while x < 20:
  print(x)
  x+=3
  if x>=11:
    continue
  print(x)

2
5
5
8
8
11
14
17

In [73]:
#else statement

x=5

while x<45:
  print(x)
  x+=5
else:
  print("The number is equal to 45.")

5
10
15
20
25
30
35
40
The number is equal to 45.

In [71]:
#Activity 1

x = ["Value"]
y=0
for word in x:
  while y<=10:
    print(word, y)
    y+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [70]:
#Activity 1 (alternative)

for x in range(11):
  print("Value " + str(x))

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [72]:
#Act 2

i=20

while i>3:
  if i!=3:
    print(i)
    i-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4