<a href="https://colab.research.google.com/github/hannsjaspherelalto/CPEN-21A-CPE1-2/blob/main/samples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Use of print and variables, conversion of data type

full_name = "Hanns Jaspher A. Elalto"
age = 19
AGE = 20

print ("My name is "  + full_name + "." + "\n" + "I am " + str(age) + " years old." + "\n" + "I'll be turning " + str(AGE) + " at next April.")

My name is Hanns Jaspher A. Elalto.
I am 19 years old.
I'll be turning 20 at next April.

In [18]:
#Arithmetic operations

w = (y/x)
x = 9
y = 81
z = -98

print (z*x)
print (w)
print ((x*y), (y/x))
print ((y % 4) + (w) * (x*y))

-882
9.0
729 9.0
6562.0

In [34]:
#Comparison operators and logical operators

w = 5
x = 10
y = 9
z = 7

print ((w+x), (y+z), (w+x)==(y+z))
print ((w*y), (x*z), (w*y)>(x*z) or (w*y)<(x*z))
print (not(((w*y)>(x*z) or (w*y)<(x*z)) and ((w*y)>(x*z) or (w*y)<(x*z))))
print ((x*z) is not (w*z))

15 16 False
45 70 True
False
True